fail_fast: true
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
      - id: lint
        name: run linter
        entry: yarn lint
        language: system
        pass_filenames: false
      - id: test
        name: run tests
        entry: yarn test --watchAll=false
        language: system
        pass_filenames: false
