name: CI

on:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: nix develop --command bash {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: just lint

      - name: Test
        run: just test

      - name: Type Check
        run: yarn tsc

      - name: Build
        run: yarn build
